/* 
	CSS Rules

	selector{
		property: value;
	}

*/

/*Universal Selector*/

/*font-family- changes the style of the font.*/
*{
	font-family: "Courier New", monospace;

	/*CSS Reset Rule*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/*Type selector*/
h1{
	font-family: "Tahoma", sans-serif;
}

/*background-color is a css property that allows us to update the background of an eelement*/
/*background image will set the background into the desired*/
body{
/*	background-color: skyblue;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	background-attachment: fixed;
}

section{
	text-align: center;
}

/*Class Selector*/
/*
	to use class selector, add a period or dot before the name of target class
*/

.nav-link{
	font-size: 18px;
}

nav{
	background-color: white;
	text-align: center;

	padding: 15px;
}

.title{
/*	color: green;*/
	
	margin-top: 10px;
	margin-bottom: 10px;
}

/*ID Selector*/
#hello{
	color: black;
	font-size: 2rem;
}

/*
	height property changes the vertical dimensions of an element
	width property changes the horizontal dimensions of an element
*/
#logo{
	height: 300px;
	width: 300px;

	border-radius: 150px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.module-card{
	height: 350px;
	width: 800px;
	padding: 20px;
	border:	2px solid black;
	background-color: white;

	
	text-align: center;
	border-radius: 10px;
	margin: 30px auto;
}

#modules{
	margin-top: 30px;
	margin-bottom: 30px;
}

.module-image{
	height: 200px;
	width: 200px;
}